<footer class="site-footer center-col js-site-footer">
  <div class="site-footer__wrapper element-padding">
     <div class="footer-info-wrapper">
      <p class="site-footer__copy">
        <a href="mailto:{{ site.data.company-info.email }}" class="site-footer__email">{{ site.data.company-info.email }}</a>
      </p>
      <p class="site-footer__copy site-footer__copy--copyright">
        &copy; {{ 'now' | date: '%Y' }} {{ site.title }}
      </p>
    </div>
      <div class="site-footer__social">
        <ul class="site-footer__list site-footer__list--social">
          {% for social in site.data.company-info.socials %}
            <li class="site-footer__item">
              <a class="site-footer__link" href="{{ social.url }}" title="{{ social.name }}" aria-label="{{ social.name }}" target="_blank" rel="noopener">
                <svg class="site-footer__icon" viewBox="{{ social.view_box }}">
                  {{ social.path_data }}
                </svg>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
  </div>
</footer>