<nav class="site-nav" role="navigation">
  <ul class="site-nav__list" role="menubar">
    {% for link in site.data.site_nav.links %}
        {% if page.url contains link.id %}
          {% assign selected = true %}
        {% else %}
          {% assign selected = false %}
        {% endif %}
          <li class="site-nav__item {{ link.class}}" role="presentation">
            <a class="site-nav__link js-nav-link {% if selected %}active{% endif %}"
              href="{{ link.url }}"
              title=""
              role="menuitem"
              data-waypoint-nav="{{ link.id }}">{{ link.text }}</a>
          </li>
    {% endfor %}
  </ul>
</nav>