.body-grid {
  display: grid;
  grid-template-columns: 1fr;
  
  grid-template-rows: $header-height--large 1fr auto;
  min-height: 100vh;
  margin: 0;
  @include breakpoint($medium) {
    grid-template-columns: auto minmax($min-width, $max-width) auto;
  }
}

.center-col {
  grid-column: 1 / span 1;
  @include breakpoint($medium) {
    grid-column: 2 / span 1;  
  }
  
}

.site-header {
  grid-row: 1 / 1;
}

.site-main {
  grid-row: 2 / 2;
}

.site-footer {
  grid-row: 3 / 3;
}

.element-padding {
  padding: 1rem;
  @include breakpoint($medium) {
  	padding: 2rem;
  }
}