.site-nav {
  width: 100%;
}

.site-nav__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-inline-start: 0;
  justify-content: space-around;

}

.site-nav__item {
  padding: 0.25rem 1rem;
  transition: transform 0.3s ease-out;
  &:hover {
  	transform: skew(6deg,6deg);
  }
}

.site-nav__link {
  font-family: $font-serif;
  font-size: 1.25rem;
  @include link($color--white);
  text-decoration: none;

}

