h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
}

p {
  font-family: $font-serif;
}

.bold {
  font-weight: bold;
}

.font-cursive {
  font-family: $font-cursive;
}

.company-name {
  margin: 0;
  @include breakpoint($medium) {
    font-size: 3.5rem;
  }
}

.black-link {
  @include link($color--black, $color--creepy-green);
  text-decoration: underline;
  transition: color 0.2s ease-out;
  font-family: $font-serif;
}

