// Breakpoints
// ---------------
$small: 320px !default;
$iphone6: 375px !default;
$small-medium: 400px !default;
$medium: 768px !default;
$medium-large: 1000px !default;
$large: 1200px !default;
$large-xlarge: 1400px !default;
$xlarge: 1600px !default;

$min-width: 320px;
$max-width: 1600px;

// Fonts
// ________
$font-grenze: 'Grenze Gotisch', cursive;
$font-noto: 'Noto Serif', serif;

$font-cursive: $font-grenze;
$font-serif: $font-noto;

// Colors
// ________

$color--white: #ffffff;
$color--black: #000000;
$color--creepy-green: rgba(65,230,134,0.8);

// Header
// _______
$header-height--small: 80px;
$header-height--large: 160px;

// General
// ________
$box-shadow--main: 2px 2px 8px 1px rgba(0,0,0,0.5);