// Breakpoints
// ---------------
$small: 320px !default;
$iphone6: 375px !default;
$small-medium: 400px !default;
$medium: 768px !default;
$medium-large: 1000px !default;
$large: 1200px !default;
$large-xlarge: 1400px !default;
$xlarge: 1600px !default;